<div class="content">
  <mat-card class="login-form">
    <mat-form-field appearance="outline">
      <mat-label>E-Mail</mat-label>
      <input matInput type="email" #email>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput type="password" #passwd>
    </mat-form-field>
    <button mat-raised-button (click)="loginWithEmail(email.value, passwd.value)" (keyup.enter)="loginWithEmail(email.value, passwd.value)">Login</button>
    <p></p>
    <button mat-button (click)="loginWithGoogle()">SignIn with Google</button>
  </mat-card>
</div>



