<mat-toolbar>
  <mat-toolbar-row class="greeting">
    <span *ngIf="auth.user$ | async as user" >
      Hello {{user.name}}!
    </span>
    <button mat-raised-button (click)="auth.signOut()"><mat-icon>exit_to_app</mat-icon></button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="content">

  <div class="form-wrapper">
    <mat-card>
      <mat-form-field appearance="outline">
        <mat-label>Kilometerstand</mat-label>
        <input matInput type="number" #milageInput>
      </mat-form-field>
      <button (click)="onMileageSubmit(milageInput.value)" mat-raised-button>Submit</button>
    </mat-card>
  </div>

  <p>Mileage Log</p>
  <span *ngFor="let res of data">
    {{res.date.toDate().toDateString()}}: {{res.user.name}}({{res.km}})
  </span>
</div>
